﻿@using GimnasioWeb.Models
@model GimnasioWeb.Models.Producto

@{
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Registrar Producto</h5>

        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-secondary text-center">@ViewBag.Mensaje</div>
        }

        <form asp-action="RegistrarProducto" asp-controller="Producto" enctype="multipart/form-data">

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" id="Nombre" placeholder="Ej: Mancuernas" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Precio</label>
                <input type="number" asp-for="Precio" class="form-control" id="Precio" step="0.01" placeholder="Ej: 100.50" required>

            </div>

            <div class="mb-3">
                <label class="form-label">Inventario</label>
                <input type="number" asp-for="Inventario" class="form-control" id="Inventario" placeholder="Ej: 50" required>

            </div>

            <div class="mb-4">
                <label class="form-label">Imagen</label>
                <input type="file" class="form-control" id="ImagenProducto" name="ImagenProducto" accept="image/png, image/jpeg" required>
                <small class="text-muted">Solo se aceptan imágenes en formato PNG o JPEG.</small>

            <input type="submit" class="btn btn-primary" value="Procesar">

        </form>
        </div>

    </div>
