@model GimnasioWeb.Models.Usuario

@{
    Layout = "~/Views/Shared/_Layout_EXterno.cshtml";
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Actualizar Usuario</h5>

        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-secondary text-center">@ViewBag.Mensaje</div>
        }

        <form asp-action="ActualizarUsuario" asp-controller="Usuario">

            <div class="mb-3">
                <label class="form-label">Identificación</label>
                <input type="text" asp-for="Identificacion" class="form-control"
                       onkeyup="ConsultarNombre();">
            </div>

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" >
            </div>

            <div class="mb-3">
                <label class="form-label">Correo Electrónico</label>
                <input type="email" asp-for="Correo" class="form-control">
            </div>

            <div class="mb-4">
                <label class="form-label">Rol</label>
                <select asp-for="Rol" class="form-control">
                    @{
                        var roles = ViewBag.DropdownRoles as List<Rol>;
                        if (roles != null)
                        {
                            @foreach (var item in roles)
                            {
                                <option value="item.IdRol">@item.NombreRol</option>
                    
                            }
                    }   }
                    </select>
               
            </div>

            <input type="submit" class="btn btn-primary" value="Procesar">

        </form>

    </div>
</div>

<script src="~/js/comunes.js"></script>