@model GimnasioWeb.Models.Clase



@{
    Layout = "~/Views/Shared/_Layout_EXterno.cshtml";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">

                            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="~/images/logo-light.svg" alt="">
                            </a>

                            <p class="text-center">Registro de clases</p>

                            @if (ViewBag.Mensaje != null)
                            {
                                <div class="alert alert-secondary text-center">@ViewBag.Mensaje</div>
                            }

                            <!-- Formulario comienza aquí -->
                            <form asp-action="CrearClase" asp-controller="Entrenador">
                                <div class="mb-3">

                                    <div class="mb-4">
                                        <label class="form-label">Nombre del curso </label>
                                        <input type="text" asp-for="Nombre" class="form-control">
                                    </div>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Descripcion</label>
                                    <input type="text" asp-for="Descripcion" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Entrenador de la clase</label>
                                    <input type="text" asp-for="Entrenador" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Precio de la clase</label>
                                    <input type="number" asp-for="Precio" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Cupo de la clase</label>
                                    <input type="number" asp-for="Cupo" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Imagen</label>
                                    <input type="image" asp-for="Imagen" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Horario </label>
                                    <input type="datetime" asp-for="Horario" class="form-control">
                                </div>

                              
                              


                                <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4" value="Procesar">
                            </form>
                            <!-- Fin del formulario -->
                            
                      